/* Base Application Styles */
body {
    color: #fff;
    background: #222;
    height: 100%;
    padding: 0;
    margin: 0;
}

.index {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

.main-container {
    display: flex;
    order: 1;
    flex-direction: column;
}

.main-container h1 {
    margin-left: 15px;
    margin-bottom: 0;
    color: #fafafa;
}

.main-container hr {
    width: 100%;
    box-shadow: 0 1px 0 0;
    border-width: 2px;
    border-color: #EFEFEF;
}

.main-container p {
    margin: 0 0 0 15px;
    font-style: italic;
    color: #E0E0E0;
    font-size: 14px;
}

.side-bar {
    display: flex;
    order: 0;
    flex: 0 0 500px;
}
