/* Base Application Styles */
body {
    color: #fff;
    background: #222;
    height: 100%;
    padding: 0;
    margin: 0;
}

.index {
    display: flex;
}

.side-bar {
    flex: 1 0 0;
}

.main-container {
    flex: 1.5 0 0;
}

.main-container h1 {
    margin-left: 15px;
    margin-bottom: 0;
    color: #fafafa;
}

.main-container hr {
    width: 100%;
    box-shadow: 0 1px 0 0;
    border-width: 2px;
    border-color: #EFEFEF;
}

.main-container p {
    margin: 0 0 0 15px;
    font-style: italic;
    color: #E0E0E0;
    font-size: 14px;
}

.input {
    margin: 10px;
    display: flex;
    align-items: center;
    min-width: 600px;
}


.button {
    height: 44px;
    border: none;
}


#inputURL {
    width: 75%;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
}


#submitButton {
    width: 25%;
    height: 46px;
    background: #0A99FF;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
    text-align: center;
}


#submitButton:hover {
    background: #087CCF;
}


input:focus {
    outline: none;
    outline: 2px solid #0A99FF;
    box-shadow: 0 0 2px #0A99FF;
}
