/* Base Application Styles */
body {
    color: #fff;
    background: #222;
    height: 100%;
    padding: 0;
    margin: 0;
}

.index {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

.main-container {
    display: flex;
    order: 1;
    flex-direction: column;
}

.side-bar {
    display: flex;
    order: 1;
    flex: 0 0 500px;
}
