$width: 500px
$backgroundColor: #fff
$defaultColor: #333
$innerMargin: 15px
$commentPadding: 5px
$shadow: 0px 2.5px 2px 0.05px #898989
$strokeText: #fff
$stroke: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
$lineShadow: 0px 2.5px 2px 0.05px #898989

.focuscomment-component
    border: 1px solid $defaultColor
    background: $backgroundColor
    color: $defaultColor
    width: $width
    -ms-flex: 0 $width
    -webkit-box-flex:  0
    -moz-box-flex:  0
    -ms-box-flex:  0
    box-flex:  0

    hr
        height: 1px
        border: 0
        box-shadow: 0px 1.5px 0.5px 0.5px #999

    .focus
        margin: $innerMargin
        padding: $commentPadding

    .comment
        margin: $innerMargin
        padding: $commentPadding
        box-shadow: $shadow

    .agree
        color: #023070
        background: #5090F0

    .disagree
        color: #703002
        background: #F09050
