$width: 500px
$backgroundColor: #fff
$defaultColor: #333
$innerMargin: 15px
$commentPadding: 5px
$shadow: 0px 2.5px 2px 0.05px #898989
$strokeText: #fff
$stroke: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
$lineShadow: 0px 2.5px 2px 0.05px #898989

.focuscomment-component
    border: 1px solid $defaultColor
    background: $backgroundColor
    color: $defaultColor
    position: fixed
    width: $width
    height: 100%

    hr
        height: 1px
        border: 0
        box-shadow: 0px 1.5px 0.5px 0.5px #999

    .focus
        margin: $innerMargin
        padding: $commentPadding

    .comment
        margin: $innerMargin
        padding: $commentPadding
        box-shadow: $shadow

    .agree
        color: #002060
        background: #5999F9

    .disagree
        color: #602000
        background: #F99959

    .impartial
        color: #000
        background: #E9E9E9

    .close-button
        float: right
        color: #999
        font-size: 24px

    .close-button:hover
        color: #F06060

    .close-button:focus
        color: #F04040
